.content{
    display: flex;
}


.navbar{
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 5%;
    margin-bottom:15px;
    background-color: white;
    align-items: center;
    justify-content:space-between;
}

.navbar input{
    border-radius: 20px;
    height: 30px;
    padding-left: 7px;
    width: 550px;
}


.navbar button{
    border-radius: 20px;
    height: 30px;
    padding-left: 7px;
    width: 100px;
    margin-right: 15px;
}

.navbar span{
    display: flex;
    align-items: center;
}

.main{
    width: 83%;
    padding: 10px;
}

.categories{
    overflow-x: scroll;
    
}
 .categories::-webkit-scrollbar {  /*--This hides scrollbar but keeps functionality--> */
    display: none;
}

.categories ul{

list-style-type: none;
display:inline-flex;

}

.categories li{
    margin: 10px;
    padding: 5px;
    border: 1px solid rgba(210, 205, 203,2);
    background-color: rgba(210, 205, 203,.2);
    border-radius: 10px;
}


.sidebar{
    display: flex;
    flex-direction: column;
    width: 17%;
    height: 100%;
    font-size: 20px;
    overflow-y: scroll;
    gap: 15px;
  
}


hr{
  border: none;             /* Removes the default border */
  height: 1px;              /* Sets line thickness */
  background-color:rgba(210, 205, 203,2);   /* Sets line color */
  width: 100%;              /* Full width by default */

}




.sidebar img{
    height: 20px;
    width: px;
    margin-right: 20px;
}

.sidebar li:hover{
    background-color: rgba(210, 215, 215,.2);

}


.videos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}


